<app-modalloading *ngIf="loadingshow"></app-modalloading>
<div id="primary" class="p-t-b-100 height-full ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-md-auto">
                <div class="text-center">
                    <h3>Welcome Back</h3>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg"
                               placeholder="Username" #userinput>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg f-12"
                               placeholder="Password" (keyup)="keyuplogin($event , userinput.value , password.value)" #password>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="login(userinput.value , password.value)">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-notification></app-notification>