<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-end">
                <div class="col-1 mt-2 text-right">
                    <!-- <button class="btn btn-danger" (click)="logout()">Logout</button> -->
                </div>
            </div>
        </div>
        <div class="col-12 text-center" *ngIf="urlparams === 'url'" style="margin-top: 10%;">
            <h1>Tidak ada file yang dapat di lihat</h1>
        </div>
        <div class="col-12 mt-2" *ngIf="urlparams !== 'url' && datagetartikel !== ''">
            <div class="row">
                <table style="width: 100%;">
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Media_name</th>

                    </tr>
                    <tr>
                        <td>{{datagetartikel?.title}}</td>
                        <td>{{datagetartikel?.datee}}</td>
                        <td>{{datagetartikel?.media_name}}</td>
                    </tr>
                    <tr>
                        <th>Journalist</th>
                        <th>Page</th>
                        <th>Media_type</th>

                    </tr>
                    <tr>
                        <td>{{datagetartikel?.journalist}}</td>
                        <td>{{datagetartikel?.page}}</td>
                        <td>{{datagetartikel?.media_type}}</td>
                    </tr>
                </table>
                <table style="width: 100%;" *ngIf="datagetartikel?.media_type === 'media online'">
                    <tr>
                        <th>Link</th>
                    </tr>
                    <tr>
                        <td><a [href]="datagetartikel?.file_pdf" target="_blank" rel="noopener noreferrer">
                                {{datagetartikel?.file_pdf}}
                            </a></td>
                    </tr>
                </table>
                <div class="col-12 mt-5" *ngIf="datagetartikel?.media_type === 'media cetak'"
                    style="max-height: 100vh;overflow-y: scroll;">
                    <!-- <iframe [src]="filemediacetak" frameBorder="0" scrolling="auto" height="100%" width="100%"></iframe> -->
                    <pdf-viewer [src]="filemediacetak" [render-text]="true" [fit-to-page]="true"
                    style="display: block; height: 100%" >
                    </pdf-viewer>
                </div>
                <div class="col-12 mt-5" *ngIf="datagetartikel?.media_type === 'media radio'"
                    style="max-height: 100vh;overflow-y: scroll;">
                    <audio controls>
                        <source [src]="filemediaradio">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div class="col-12 mt-5" *ngIf="datagetartikel?.media_type === 'media online'"
                    style="max-height: 100vh;overflow-y: scroll;">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <button class="btn btn-info" (click)="copy('#content1')">
                                Copy text
                            </button>
                        </div>
                        <div class="col-12 mt-2">
                            Content :<p [innerHtml]='datagetartikel?.content' id="content1"></p>
                        </div>
                    </div>
                    <!-- Content : {{datagetartikel?.content}} -->
                </div>
                <div class="col-12 mt-5" *ngIf="datagetartikel?.media_type === 'media tv'"
                    style="max-height: 100vh;overflow-y: scroll;">
                    <video class="v-player" [src]="filemediatv" #videoPlayer controls autoplay
                        style="width: 100%; height: 100%;">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
                <div class="col-12 mt-2" *ngIf="datagetartikel?.media_type !== 'media online'"
                    style="max-height: 100vh;overflow-y: scroll;">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <button class="btn btn-info" (click)="copy('#content2')">
                                Copy text
                            </button>
                        </div>
                        <div class="col-12 mt-1" id="content2">
                            Content :<p [innerHtml]='datagetartikel?.content'></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>