th {
    border:  1px solid grey;
    text-align: center;
    background-color: gray;
    color: white;
}
tr{
    border:  1px solid grey;
    text-align: center;
}
td{
    border:  1px solid grey;
    text-align: center;
}