/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// @import './assets/template2/css/app.css';
/* Fonts */
$fa-font-path : '~font-awesome/fonts';
@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";
// @import "~font-awesome/scss/path";
@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import "~font-awesome/scss/core";
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader";
// @import '~font-awesome/scss/font-awesome.scss';
.text-red{
  color:red;
}
.fa {
  font-family: 'FontAwesome', sans-serif !important;
}
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F8FA;
    z-index: 9998;
    text-align: center;
}

.plane-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.navbar {
    padding: 0.8rem 1rem!important;
}
.p-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.f-12{
    font-size: 12pt;
}
.f-10{
    font-size: 10pt;
}
.brand-wrapper {
    height: unset !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-control:focus {
    box-shadow: none !important;
}

  .form-control-lg {
    height: calc(2em + 1rem + 2px) !important;
    font-size: 1rem !important;
}

input[type=number] {
    -moz-appearance:textfield !important;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.prefix{
  border: 1px solid #ced4da;
  position: absolute;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  top: 0px;
  right: 15px;
  display: inline-flex;
  padding-right: 8px;
  padding-left: 8px;
  align-items: center;
  height: calc(1.5em + .75rem + 2px);
}
.input-prefix{
  padding-right: 35px;
}
.input-sufix{
  padding-left: 40px !important;
}

.sufix{
  border: 1px solid #ced4da;
  position: absolute;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  top: 0px;
  left: 15px;
  display: inline-flex;
  padding-right: 8px;
  padding-left: 8px;
  align-items: center;
  height: calc(1.5em + .75rem + 2px);
}
